:root {
  --base-color:#6A00FA;
  --second-color:#A9FA00;
  --third-color:#FAD500;
  --fourth-color:#573D7A;
  --fifth-color:#677A3D;
  --sixth-color: #7A713D;
}
table {
  width:100%;
  border:3px solid;
  border-color:var(--fifth-color); 
  margin:auto; 
  font-size:medium;
  color:var(--third-color);
  text-align: left;
}


h1 {
  margin:auto;
  width:fit-content;
}

.title {
  width: 100%;
  
}
.hand {
    display:flex;
    width: 100%;
}
.flip-card {
    background-color: transparent;
    width: 18%;
    height: 140px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin: 1%;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: var(--third-color);
    color: black;
    font-size:xx-large;
    vertical-align: middle;
    height:100%
  }
  
  /* Style the back side */
  .flip-card-back {
    color: white;
    transform: rotateY(180deg);
  }

  img {
    max-width: 100%; 
    max-height: 100%; 

  }

  table td + td {
    border-left:2px solid var(--third-color);
  }
  

  .alternate {
    background-color: var(--fourth-color);
  }
  body {
    background-color: var(--base-color);
  }