{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'videopoker/htmx.min.js' %}"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Video poker</title>
  <link rel="stylesheet" href="{% static 'videopoker/stylesheet_v29-09v3.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'videopoker/favicon.ico' %}"/>
</head>

<body>
  
    {% block content %}
    {% endblock %}
</body>

</html>