<div id='hand' class="hand">
{% for card, color in drawn_cards%}
  <div class="flip-card" >
    <div id="card_{{ forloop.counter0 }}" class="flip-card-inner flip-animation" >
      <div class="flip-card-front {{color}}" onclick="hold_card(this, {{forloop.counter0}})">
        {{card}}
      </div>
      <div class="flip-card-back">
      </div>
    </div>
  </div>

 {% endfor %}
 <input type="hidden" name="held" id="held" value="0">
 <input type="hidden"  id="combination" value="{{combination}}">
 <input type="hidden"  id="dealt" value="{{dealt}}">
 <input type="hidden"  id="balance" value="{{balance}}">
 <input type="hidden"  id="win_value" value="{{win_value}}">
 
</div>
<div class="balance"><span id="span_balance">Balance: {{balance}} chips</span>

</div>

