<div class="held">
  <div class="held-caption" id="held_0"><span >Held</span></div>
  <div class="held-caption" id="held_1"><span>Held</span></div>
  <div class="held-caption" id="held_2"><span>Held</span></div>
  <div class="held-caption" id="held_3"><span>Held</span></div>
  <div class="held-caption" id="held_4"><span>Held</span></div>
</div>
<div id='hand' class="hand">
{% for card, color in drawn_cards%}
  <div class="flip-card" >
    <div id="card_{{ forloop.counter0 }}" class="flip-card-inner flip-animation" >
      <div class="flip-card-front {{color}}" onclick="hold_card(this, {{forloop.counter0}})">
        {{card}}
      </div>
      <div class="flip-card-back">
      </div>
    </div>
  </div>

 {% endfor %}
 <input type="hidden" name="held" id="held" value="0">
 <input type="hidden"  id="combination" value="{{combination}}">
 <input type="hidden"  id="dealt" value="{{dealt}}">
</div>
<div class="balance"><span>Balance: {{balance}} chips</span>

</div>

