{% extends 'videopoker/base.html' %}
{% load static %}

{% block content %}
<div class="title">
  <h2>Jacks or better</h2>
</div>
<div class = "container">
  <div class="button-container">
    <button class="menu_button" title="Toggle fullscreen mode" onclick="full_screen()" >&#8691;</button>
    <button class="menu_button" title="Leaderboard" style="background-image: url('{% static 'videopoker/ladder.png' %}');"
            onclick="window.location.href='/videopoker/leaderboard/';"></button>
    <button class="menu_button" title="Replenish chips" onclick="show_modal()" style = "background-image: url('{% static 'videopoker/chips.png' %}');"></button>
  </div>
  <table class="multiplier_table">  
    <colgroup>
      <col id="col_0">
      <col id="col_1">
      <col id="col_2">
      <col id="col_3">
      <col id="col_4">
      <col id="col_5">
    </colgroup>
    <tr id="tr_10">
      <td>ROYAL FLUSH</td>
      <td>250</td>
      <td>500</td>
      <td>750</td>
      <td>1000</td>
      <td>4000</td>
    </tr>
    <tr id="tr_9">
      <td>STRAIGHT FLUSH</td>
      <td>50</td>
      <td>100</td>
      <td>150</td>
      <td>200</td>
      <td>250</td>
    </tr>
    <tr id="tr_8">
      <td>FOUR OF A KIND</td>
      <td>25</td>
      <td>50</td>
      <td>75</td>
      <td>100</td>
      <td>125</td>
    </tr>
    <tr id="tr_7" >
      <td>FULL HOUSE</td>
      <td>9</td>
      <td>18</td>
      <td>27</td>
      <td>36</td>
      <td>45</td>
    </tr>
    <tr id="tr_6">
      <td>FLUSH</td>
      <td>6</td>
      <td>12</td>
      <td>18</td>
      <td>24</td>
      <td>30</td>
    </tr>
    <tr  id="tr_5" >
      <td>STRAIGHT</td>
      <td>4</td>
      <td>8</td>
      <td>12</td>
      <td>16</td>
      <td>20</td>
    </tr>
    <tr  id="tr_4">
      <td>THREE OF A KIND</td>
      <td>3</td>
      <td>6</td>
      <td>9</td>
      <td>12</td>
      <td>15</td>
    </tr>
    <tr   id="tr_3" >
      <td>TWO PAIR</td>
      <td>2</td>
      <td>4</td>
      <td>6</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr   id="tr_2">
      <td>JACKS OR BETTER</td>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>

  </table>
  <div style="width: 25%;"></div>
</div>
<form style="display: grid;">
  {% csrf_token %}
  <span id="info">Note:</span>
  <div class="held">
    
    <div class="held-caption" id="held_0"><span>Held</span></div>
    <div class="held-caption" id="held_1"><span>Held</span></div>
    <div class="held-caption" id="held_2"><span>Held</span></div>
    <div class="held-caption" id="held_3"><span>Held</span></div>
    <div class="held-caption" id="held_4"><span>Held</span></div>
  </div>
  <div id="table">
  <div id='hand' class="hand">
    {% for card in drawn_cards%}
    <div class="flip-card">
      <div id="card_{{ forloop.counter0 }}" class="flip-card-inner">
        <div class="flip-card-front" onclick="hold_card(this, {{forloop.counter0}})">
        </div>
        <div class="flip-card-back">
        </div>
      </div>
    </div>
    
    {% endfor %}

    <input type="hidden" name="held" id="held" value="0">
    <input type="hidden"  id="combination" value="{{combination}}">
    <input type="hidden"  id="dealt" value="{{dealt}}">
    <input type="hidden"  id="balance" value="{{balance}}">
    <input type="hidden"  id="win_value" value="0">
    
  </div>
    <div class="balance"><span id="span_balance">Balance: {{balance}} chips</span>

    </div>
</div>
  
  <div class="buttons">
    <button name="bet_button" id="bet_button" type="button" class="button" role="button" onclick="bet_increase()">Bet</button>
    <button type="button" id="deal_button" class="button" role="button" hx-post="/videopoker/deal/" hx-target="#table"
        hx-trigger="click throttle:250ms">Deal</button>
  </div>
  <input type="hidden" name="bet_m" id="bet_m" value="1">
  
  <audio id="audio" src="{% static 'videopoker/notify_win_hand.mp3' %}" ></audio>
  <audio id="audio_win" src="{% static 'videopoker/win_hand_straight_and_higher.mp3' %}" ></audio>
  <audio id="audio_win_rf" src="{% static 'videopoker/royal_flush.mp3' %}" ></audio>
</form>

<div class="modal-backdrop" >
  <div class="modal-content" >
      <form>
          {% csrf_token %}
          <div class="close" onclick="hide_modal()" id="hide_modal"
                hx-get="/videopoker/update_balance/{{telegram_id}}"
                hx-target="#balance"
                hx-swap="outerHTML"
                >&#10006;</div>
          <br>
          <br>
          <div class="container">
            <div style="margin:auto;">
            <table class = "table_prices">
            <tr>
                <th>Chips</th>
                <th>Price&#11088;</th>
                <th>Discount</th>
                <th>Buy</th>
            </tr>
            <tr>
                <td>5 000</td>
                <td>120&#11088;</td>
                <td>-</td>
                <td id="buy_5000" hx-post="/videopoker/createInvoiceLink/" hx-target="#url_request" hx-trigger="click" style="cursor: pointer;">Buy &#128722;</td>
            </tr>
            <tr>
                <td>10 000</td>
                <td>228&#11088;</td>
                <td>5%</td>
                <td id="buy_10000" hx-post="/videopoker/createInvoiceLink/" hx-target="#url_request" hx-trigger="click" style="cursor: pointer;">Buy &#128722;</td>
            </tr>
            <tr>
                <td>20 000</td>
                <td>432&#11088;</td>
                <td>10%</td>
                <td id="buy_20000" hx-post="/videopoker/createInvoiceLink/" hx-target="#url_request" hx-trigger="click" style="cursor: pointer;">Buy &#128722;</td>
            </tr>
            <tr>
                <td>40 000</td>
                <td>816&#11088;</td>
                <td>15%</td>
                <td id="buy_40000" hx-post="/videopoker/createInvoiceLink/" hx-target="#url_request" hx-trigger="click" style="cursor: pointer;">Buy &#128722;</td>
            </tr>
            <tr>
                <td>80 000</td>
                <td>1536&#11088;</td>
                <td>20%</td>
                <td id="buy_80000" hx-post="/videopoker/createInvoiceLink/" hx-target="#url_request" hx-trigger="click" style="cursor: pointer;">Buy &#128722;</td>
            </tr>
            </table>

            </div>
            <div class="button-container" style="margin: auto;width:clamp(300px, 50%, 50%);">
            <div style="display: grid;">
            <span style="text-align:center">Share with a friend to get 2000 chips</span>
            
            <button class="button" onclick="share()" type="button">Share...</button>
            <div id="adsgram_div" style="display: grid;">
              {% if adsgram_views_today > 0 %}
                  <span style="text-align:center">Watch Ad to get 100 chips</span>
                  <span style="text-align:center;font-size:small">{{adsgram_views_today}} out of 20</span>
                  <button onclick ="show_adsgram()"  class="button" id="ad" type="button">Show Ad</button>
              {% else %}
                  <span style="text-align:center;font-size:small">No more ads to watch for today. Check tomorrow.</span>
              {% endif %}
            </div>
            <span style="text-align:center;font-size:small">Note: Playing chips cannot be converted, sold, gifted or used elsewhere but this application.</span>
          </div>
            <input type="hidden" name="amount" id="amount" value="0">
            
            <div id="url_request"></div>
          </div>
          </div>
      </form>
  
      
  </div>
</div>


<input id='update_ads_views' type="hidden" hx-target="#adsgram_div" hx-trigger="click"
  hx-get="/videopoker/update_adsgram_div/{{telegram_id}}">
  <script src="https://cdn.jsdelivr.net/npm/@tsparticles/confetti@3.0.3/tsparticles.confetti.bundle.min.js"></script>
  <script>
  const count = 600,
    defaults = {
      origin: { y: 0.8 },
    };
  
  function fire(particleRatio, opts) {
    confetti(
      Object.assign({}, defaults, opts, {
        particleCount: Math.floor(count * particleRatio),
      })
    );
  };
  function confetti_battery() {
          fire(0.25, {
        spread: 26,
        startVelocity: 55,
      });

      fire(0.2, {
        spread: 60,
      });

      fire(0.35, {
        spread: 100,
        decay: 0.91,
        scalar: 0.8,
      });

      fire(0.1, {
        spread: 120,
        startVelocity: 25,
        decay: 0.92,
        scalar: 1.2,
      });

      fire(0.1, {
        spread: 120,
        startVelocity: 45,
      });
  };
  </script>
<script>
    // Get the root element
    const root = document.documentElement;

    // Get the styles of the root element
    const rootStyles = getComputedStyle(root);

    // Access the CSS variable
    const baseColor = rootStyles.getPropertyValue('--base-color').trim();
    const info = document.getElementById("info");
    const audio = document.getElementById("audio");
    const audio_win = document.getElementById("audio_win");
    const bet_button = document.getElementById("bet_button");
    const deal_button = document.getElementById("deal_button");

    Telegram.WebApp.setHeaderColor(baseColor);
    Telegram.WebApp.BackButton.hide();

  Telegram.WebApp.onEvent('invoiceClosed', function (object) {
    if (object.status == 'paid') {
      // Invoice is paid. Refreshing the balance by invoking hx-get 'update_balance'.
      htmx.trigger("#hide_modal", "click");
    }
  });

  

  document.body.addEventListener('htmx:afterSettle', function (evt) {

    
    if (evt.detail.target.id == 'url_request') {
      var ok =  document.getElementById('ok').value;
      if (ok == 'True') {
            // Payment link is successfully created. Opening Invoice link.
            var result_url =  document.getElementById('result').value;
            window.Telegram.WebApp.openInvoice(result_url);
            return;
        }
    }

    if (evt.detail.target.id == 'balance') { 
      var balance = document.getElementById("balance").value;
      document.getElementById('span_balance').innerText = 'Balance: ' + balance + ' chips';
      return;
    }

    if (evt.detail.target.id == 'adsgram_div') { 
      // var ad = document.getElementById("ad");
      // ad.setAttribute('onclick', 'show_adsgram()');
      return;
    }


    var win_value = document.getElementById("win_value").value;
    var dealt = document.getElementById("dealt").value;
    var comb = document.getElementById("combination").value;
    

    if (win_value > 0) {

      info.innerText = 'Previous winning: ' + win_value;
      info.style.visibility = 'visible';
    }
    
    
    var elements = document.getElementsByClassName("held-caption");

        for (var i = 0; i < elements.length; i++) {
            elements[i].style='visibility:hidden';
        }

    

    deal_button.removeAttribute('DISABLED', false); // Enabling Deal button.

    if (dealt == 'True') { // Cards are just dealt and ready to be drawn.
      bet_button.setAttribute('DISABLED', true);
      deal_button.innerHTML = 'Draw';
      if (win_value == 0) {
        info.innerText = 'Note: click a card to hold it.';
        info.style.visibility = 'visible';
      }
      
    } else { // Cards are ready to be dealt again.
      bet_button.removeAttribute('DISABLED', false);
      deal_button.innerHTML = 'Deal';
      info.innerText = 'Note:';
      info.style.visibility = 'hidden';
    }

    if (comb > 1) {
      if (!document.getElementById("tr_" + comb).classList.contains('row_combination')) {
        if (dealt == 'True') { // Cards are just dealt and hand is winning. Notification audio is played.
          audio.pause();
          audio.currentTime = 0;
          audio.play();
        }
        else { // Final hand is presented.
          if (comb > 4) { // Winning hand audio played.
            if (comb < 10) {
              audio_win.pause();
              audio_win.currentTime = 0;
              audio_win.play();
              Telegram.WebApp.HapticFeedback.notificationOccurred('success');
              confetti_battery();
            }

            else { // Royal flush audio is played.
              audio_win_rf.pause();
              audio_win_rf.currentTime = 0;
              audio_win_rf.play();
              Telegram.WebApp.HapticFeedback.notificationOccurred('success');
              Telegram.WebApp.HapticFeedback.notificationOccurred('success');
              Telegram.WebApp.HapticFeedback.notificationOccurred('success');
              confetti_battery();
            }
            
          }
        }
        document.getElementById("tr_" + comb).classList.add("row_combination");
      }
    }
    
    
  });

  //Flipping cards before the draw and return to normal place after the hold animation.
  document.body.addEventListener('htmx:confirm', function (evt) {

    if (evt.detail.target.id == 'url_request' || evt.detail.target.id == 'balance' || evt.detail.target.id == 'adsgram_div') {
      console.log(evt.detail.target.id, " captured.");
      return;
    }
    var balance = document.getElementById("balance").value;
    var bet_m = document.getElementById("bet_m").value
    var dealt = document.getElementById("dealt").value;

    if (balance < bet_m * 100 && dealt == 'False') {
      document.getElementById("info").innerText = 'Note: Not enough chips to place a bet.';
      document.getElementById("info").style.visibility = 'visible';
      evt.preventDefault();
      return;

    }

    var deal_button = document.getElementById("deal_button");
    deal_button.setAttribute('DISABLED', true); // Disabling Deal button until the cards are dealt.

    var held_cards_value = parseInt(document.getElementById("held").value);
    const values = [16, 8, 4, 2, 1];

    for (let index = 0; index < values.length; index++) {
      if (held_cards_value >= values[index]) {
        held_cards_value = held_cards_value - values[index];
      } else {
        document.getElementById("card_" + index).classList.remove('flip-animation');
      }
      
    }

    for (let index = 2; index < 11; index++) {
      if (document.getElementById("tr_" + index).classList.contains('row_combination')) {
        document.getElementById("tr_" + index).classList.remove("row_combination");
      }
      
    }
    
  });


  var bet_multiplier = 1;
  document.getElementById("col_" + bet_multiplier).classList.add('bet_selected');


  function hold_card(card_clicked, id) {
    var dealt = document.getElementById("dealt").value;

    if (dealt == 'False') {
      document.getElementById("info").innerText = 'Note: Please deal new cards';
      document.getElementById("info").style.visibility = 'visible';
      return; // Cards are drawn already. Ready to be dealt.
    }
    var values = [16, 8, 4, 2, 1];
    var grandParent = card_clicked.parentElement.parentElement;
     if (grandParent.classList.contains("hold_animation")) {
      grandParent.classList.remove('hold_animation');
      document.getElementById("held_" + id).style='';
      document.getElementById("held").value = parseInt(document.getElementById("held").value) - values[id];
    }
    else {
      grandParent.classList.add('hold_animation');
      document.getElementById("held_" + id).style='visibility:visible';
      document.getElementById("held").value = parseInt(document.getElementById("held").value) + values[id];
    }
  }

  function bet_increase() {
    document.getElementById("col_" + bet_multiplier).classList.remove('bet_selected');
    bet_multiplier = bet_multiplier + 1;
    if (bet_multiplier > 5) {
      bet_multiplier = 1;
    }
    document.getElementById("col_" + bet_multiplier).classList.add('bet_selected');
    document.getElementById("bet_m").value = bet_multiplier;
  }

  document.body.addEventListener('htmx:configRequest', function (evt) {

    
    if (evt.detail.target.id != 'url_request') {
      return;
    }   
        var buy_dict = {'buy_5000': 5000,
                        'buy_10000': 10000,
                        'buy_20000': 20000,
                        'buy_40000': 40000,
                        'buy_80000': 80000
        };

        var elem =  evt.detail.elt.id;
        var formData = evt.detail.parameters;
        hide_modal();
        document.getElementById('amount').value = buy_dict[elem];
        formData['amount'] = buy_dict[elem];
    });

    function show_modal() {
        var modal = document.querySelector('.modal-backdrop');
        modal.classList.add('active');
        
    }

    function full_screen() {
      if (Telegram.WebApp.isFullscreen) {
        Telegram.WebApp.exitFullscreen();
      } else {
        Telegram.WebApp.requestFullscreen();
      }
    }
    function hide_modal(evt) {
        
        var modal = document.querySelector('.modal-backdrop');
        modal.classList.remove('active');
    }

    function share() {
      var tel = window.Telegram.WebApp;
      tel.openTelegramLink('https://t.me/share/url?url=https://t.me/VideoPokerMiniAppBot/VideoPoker?startapp=refr_id{{telegram_id}}');
    }
</script>
<script>
  // insert your block id
  
const AdController = window.Adsgram.init({ blockId: "3755", 
    debug: false,
    debugBannerType: "FullscreenMedia"  });
const button = document.getElementById('ad');
function show_adsgram() {
        
        AdController.show().then((result) => {
            // user watch ad till the end
            // your code to reward user
            htmx.trigger("#update_ads_views", "click");
        }).catch((result) => {
            // user skipped video or get error during playing ad
            // do nothing or whatever you want
            
        })
}
</script>

{% endblock %}