{% load static %}

<!DOCTYPE html>
<html lang="en">
  
<head>
    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script src="{% static 'videopoker/htmx.min.js' %}"></script>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Video poker</title>
  <link rel="stylesheet" href="{% static 'videopoker/stylesheet.css' %}">
</head>

<body>
<div class="title"><h1>Jacks or better</h1></div>
<div class="multiplier_table" >
  <table>
    <colgroup>
      <col id="col_0">
      <col id="col_1">
      <col id="col_2">
      <col id="col_3">
      <col id="col_4">
      <col id="col_5">
</colgroup>
    <tr><td>ROYAL FLUSH</td><td>250</td><td>500</td><td>750</td><td>1000</td><td>4000</td></tr>
    <tr class="alternate"><td>STRAIGHT FLUSH</td><td>50</td><td>100</td><td>150</td><td>200</td><td>250</td></tr>
    <tr><td>FOUR OF A KIND</td><td>25</td><td>50</td><td>75</td><td>100</td><td>125</td></tr>
    <tr class="alternate"><td>FULL HOUSE</td><td>9</td><td>18</td><td>27</td><td>36</td><td>45</td></tr>
    <tr><td>FLUSH</td><td>6</td><td>12</td><td>18</td><td>24</td><td>30</td></tr>
    <tr class="alternate"><td>STRAIGHT</td><td>4</td><td>8</td><td>12</td><td>16</td><td>20</td></tr>
    <tr><td>THREE OF A KIND</td><td>3</td><td>6</td><td>9</td><td>12</td><td>15</td></tr>
    <tr class="alternate"><td>TWO PAIR</td><td>2</td><td>4</td><td>6</td><td>8</td><td>10</td></tr>
    <tr><td>JACKS OR BETTER</td><td>1</td><td>2</td><td>3</td><td>4</td><td>5</td></tr>

  </table>
</div>
<form>
  {% csrf_token %}
<div id='hand' class="hand">
 {% for card in drawn_cards%}
  <div class="flip-card" >
    <div class="flip-card-inner" >
      <div class="flip-card-front" onclick="flip_card(this)">
        {{card}}
      </div>
      <div class="flip-card-back" onclick="flip_card(this)">
      </div>
    </div>
  </div>
 {% endfor %}
</div>


<div class="buttons">
  <button type="button" class="button" role="button" onclick="bet_increase()">Bet</button>
  <button type="button"  class="button" role="button" hx-post="/videopoker/deal/" hx-target="#hand" >Deal</button>
</div>
<span>Test</span>
</form>




<script>
  var bet_multiplier = 1;
  document.getElementById("col_"+bet_multiplier).classList.add('bet_selected');
  console.log('print');
  console.log(document.window.Telegram.WebView.version);

  function flip_card(card_clicked) {
    if (card_clicked.parentElement.classList.contains("flip-animation")) {
      card_clicked.parentElement.classList.remove('flip-animation');
    }
    else {
      card_clicked.parentElement.classList.add('flip-animation');
    }

  }
  function bet_increase() {
    document.getElementById("col_"+bet_multiplier).classList.remove('bet_selected');
    bet_multiplier = bet_multiplier + 1;
    if (bet_multiplier > 5) {
      bet_multiplier = 1; 
    }
    document.getElementById("col_"+bet_multiplier).classList.add('bet_selected');
  }
</script>
</body>

</html>