{% extends 'videopoker/base.html' %}
{% load static %}

{% block content %}
<div >
    <div class="title">    
    <h2>Leaderboard Top 100</h2> 
    </div>
    <div style="margin: 5px auto;width: fit-content;text-align: center;">Server time: {{server_time}}</div>
<form>     {% csrf_token %}
<table class="leaderboard">
    <tr>
        <th id="day" class="selected_filter" hx-post="/videopoker/leaders/" hx-target="#leaderboard_section" hx-trigger="click">Today</th>
        <th id="week" hx-post="/videopoker/leaders/" hx-target="#leaderboard_section" hx-trigger="click">Last Week</th>
        <th id="month" hx-post="/videopoker/leaders/" hx-target="#leaderboard_section" hx-trigger="click">Last Month</th>
        <th id="all-time" hx-post="/videopoker/leaders/" hx-target="#leaderboard_section" hx-trigger="click">All-time</th>
        <th id="locale">
            Locale
            <select id='locale_filter' name='locale_filter' hx-post="/videopoker/leaders/" hx-target="#leaderboard_section" hx-trigger="change">
            <option value="all">All</option>
            {% for loc in locale%}
                <option value="{{loc}}">{{loc}}</option>
            {% endfor %}
        </select></th>
    </tr>
</table>
<div id="leaderboard_section">
    <!-- To be filled by HTMX.trigger-->
</div>


<input id='filter' name="filter" type="hidden" value="day">
<!-- <input id='locale_filter' name='locale_filter' type="hidden" value="all"> -->
</form> 
</div>
<script>
    window.onload = function() {
        htmx.trigger("#day", "click");
    }
    
    // Get the root element
    const root = document.documentElement;

    // Get the styles of the root element
    const rootStyles = getComputedStyle(root);

    // Access the CSS variable
    const baseColor = rootStyles.getPropertyValue('--base-color').trim();
    
    
    Telegram.WebApp.setHeaderColor(baseColor);
    Telegram.WebApp.BackButton.show();
    Telegram.WebApp.onEvent('backButtonClicked', function (object) {
        window.location.href='/videopoker/';
    });
    
    document.body.addEventListener('htmx:configRequest', function (evt) {
        if (evt.detail.elt.tagName == 'TH') {
            const keywords_list = ['day', 'week', 'month', 'all-time' ];
            let i = 0;
            // Removing class 'selected_filter'
            while (i < keywords_list.length) {
                document.getElementById(keywords_list[i]).classList.remove('selected_filter');
                keywords_list[i]
                i++;
            }
            // Updating form prior to sending
            var formData = evt.detail.parameters;
            formData['filter'] = evt.detail.elt.id;
            document.getElementById("filter").value = evt.detail.elt.id;
            evt.detail.elt.classList.add('selected_filter')
        }

        if (evt.detail.elt.tagName == 'SELECT') {
            if (evt.detail.elt.value != 'all') {
                // Some locale selected
                document.getElementById("locale").classList.add('selected_filter');
                evt.detail.elt.classList.add('selected_filter')
            }
            else {
                // Locale filter reset
                document.getElementById("locale").classList.remove('selected_filter');
                evt.detail.elt.classList.remove('selected_filter')
            }
            
            
        }
        
        
    });
</script>
{% endblock %}