{% extends 'videopoker/base.html' %}
{% load static %}

{% block content %}
<div >
    <h2>Leaderboard</h2>
<form>     {% csrf_token %}
<table class="leaderboard">
    <tr>
        <th id="day" class="selected_filter" hx-post="/videopoker/leaders/" hx-target="#leaderboard_table" hx-trigger="click">Day</th>
        <th id="week" hx-post="/videopoker/leaders/" hx-target="#leaderboard_table" hx-trigger="click">Week</th>
        <th id="month" hx-post="/videopoker/leaders/" hx-target="#leaderboard_table" hx-trigger="click">Month</th>
        <th id="all-time" hx-post="/videopoker/leaders/" hx-target="#leaderboard_table" hx-trigger="click">All-time</th>
        <th>
            Locale
            <select hx-post="/videopoker/leaders" hx-target="#leaderboard_table" hx-trigger="changed">
            <option>All</option>
            <option>Ru</option>
            <option>En</option>
        </select></th>
    </tr>
</table>
<br>
<table class="leaderboard" id="leaderboard_table">
    
    <tr><td >Rank</td><td >Username</td><td>Amount Won</td></tr>
    {% for username, won in leaders%}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{username}}</td>
        <td>{{won}}</td>
    </tr>
    {% endfor %}
</table>
<input id='filter' name="filter" type="hidden" value="day">
<input id='locale_filter' name='locale_filter' type="hidden" value="all">
</form> 
</div>
<script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
        const keywords_list = ['day', 'week', 'month', 'all-time' ];

        let i = 0;

        // Removing class 'selected_filter'
        while (i < keywords_list.length) {
            document.getElementById(keywords_list[i]).classList.remove('selected_filter');
            keywords_list[i]
            i++;
        }


        if (evt.detail.elt.tagName == 'TH') {
            var formData = evt.detail.parameters;
            formData['filter'] = evt.detail.elt.id;
            document.getElementById("filter").value = evt.detail.elt.id;
            evt.detail.elt.classList.add('selected_filter')
        }
        
        
    });
</script>
{% endblock %}