{% extends 'videopoker/base.html' %}

{% block content %}
<div class="login" ><span style="margin:auto;">Logging in...</span></div>
<form name="login_form" method="post">{% csrf_token %}
    <input type="hidden" name="init_data" id="init_data">

</form>
<script>
    window.onload = function(){
        // Getting data from Telegram
        var init_data = window.Telegram.WebApp.initData;
        document.getElementById('init_data').value = init_data;
        document.forms['login_form'].submit();
}
</script>
{% endblock %}